body::before {
    display: block;
    content:'';
    height: 60px;
}
img.rounded-circle {
    width: 144px;
    height: 144px;
}
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}